<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>RegServerlet</servlet-name>
  	<display-name>RegServerlet</display-name>
  	<description></description>
  	<servlet-class>com.faceweb.controller.RegServerlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Loginserverlet</servlet-name>
  	<display-name>Loginserverlet</display-name>
  	<description></description>
  	<servlet-class>com.faceweb.controller.Loginserverlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>viewprofileservlet</servlet-name>
  	<display-name>viewprofileservlet</display-name>
  	<description></description>
  	<servlet-class>com.faceweb.controller.viewprofileservlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>logoutservrlet</servlet-name>
  	<display-name>logoutservrlet</display-name>
  	<description></description>
  	<servlet-class>com.faceweb.controller.logoutservrlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>editprofileservlet</servlet-name>
  	<display-name>editprofileservlet</display-name>
  	<description></description>
  	<servlet-class>com.faceweb.controller.editprofileservlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>deleteprofileservlet</servlet-name>
  	<display-name>deleteprofileservlet</display-name>
  	<description></description>
  	<servlet-class>com.faceweb.controller.deleteprofileservlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>editprofileservrlet</servlet-name>
  	<display-name>editprofileservrlet</display-name>
  	<description></description>
  	<servlet-class>com.faceweb.controller.editprofileservrlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>viewallprofile</servlet-name>
  	<display-name>viewallprofile</display-name>
  	<description></description>
  	<servlet-class>com.faceweb.controller.viewallprofile</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>searchprofile</servlet-name>
  	<display-name>searchprofile</display-name>
  	<description></description>
  	<servlet-class>com.faceweb.controller.searchprofile</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>searchprofiles</servlet-name>
  	<display-name>searchprofiles</display-name>
  	<description></description>
  	<servlet-class>com.faceweb.controller.searchprofile</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>emailservrlet</servlet-name>
  	<display-name>emailservrlet</display-name>
  	<description></description>
  	<servlet-class>com.faceweb.controller.emailservrlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>checkemailservlet</servlet-name>
  	<display-name>checkemailservlet</display-name>
  	<description></description>
  	<servlet-class>com.faceweb.controller.checkemailservlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>loadcountryservlet</servlet-name>
  	<display-name>loadcountryservlet</display-name>
  	<description></description>
  	<servlet-class>com.faceweb.controller.loadcountryservlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>loadcapchtaservlet</servlet-name>
  	<display-name>loadcapchtaservlet</display-name>
  	<description></description>
  	<servlet-class>com.faceweb.controller.loadcapchtaservlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>vildatecapchtaservlet</servlet-name>
  	<display-name>vildatecapchtaservlet</display-name>
  	<description></description>
  	<servlet-class>com.faceweb.controller.vildatecapchtaservlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>registerservlet</servlet-name>
  	<display-name>registerservlet</display-name>
  	<description></description>
  	<servlet-class>com.faceweb.controller.registerservlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>addfriends</servlet-name>
  	<display-name>addfriends</display-name>
  	<description></description>
  	<servlet-class>com.faceweb.controller.addfriends</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>confirmfriends</servlet-name>
  	<display-name>confirmfriends</display-name>
  	<description></description>
  	<servlet-class>com.faceweb.controller.confirmfriends</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>friendslist</servlet-name>
  	<display-name>friendslist</display-name>
  	<description></description>
  	<servlet-class>com.faceweb.controller.friendslist</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>friendlist</servlet-name>
  	<display-name>friendlist</display-name>
  	<description></description>
  	<servlet-class>com.faceweb.controller.friendslist</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>acceptfriends</servlet-name>
  	<display-name>acceptfriends</display-name>
  	<description></description>
  	<servlet-class>com.faceweb.controller.acceptfriends</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>deletefriends</servlet-name>
  	<display-name>deletefriends</display-name>
  	<description></description>
  	<servlet-class>com.faceweb.controller.deletefriends</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RealFriendsList</servlet-name>
  	<display-name>RealFriendsList</display-name>
  	<description></description>
  	<servlet-class>com.faceweb.controller.RealFriendsList</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>clock</servlet-name>
  	<display-name>clock</display-name>
  	<description></description>
  	<servlet-class>com.faceweb.controller.clock</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>RegServerlet</servlet-name>
  	<url-pattern>/RegServerlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Loginserverlet</servlet-name>
  	<url-pattern>/Loginserverlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>viewprofileservlet</servlet-name>
  	<url-pattern>/viewprofileservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>logoutservrlet</servlet-name>
  	<url-pattern>/logoutservrlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>editprofileservlet</servlet-name>
  	<url-pattern>/editprofileservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>deleteprofileservlet</servlet-name>
  	<url-pattern>/deleteprofileservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>editprofileservrlet</servlet-name>
  	<url-pattern>/editprofileservrlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>viewallprofile</servlet-name>
  	<url-pattern>/viewallprofile</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>searchprofile</servlet-name>
  	<url-pattern>/searchprofile</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>searchprofiles</servlet-name>
  	<url-pattern>/searchprofiles</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>emailservrlet</servlet-name>
  	<url-pattern>/emailservrlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>checkemailservlet</servlet-name>
  	<url-pattern>/checkemailservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>loadcountryservlet</servlet-name>
  	<url-pattern>/loadcountryservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>loadcapchtaservlet</servlet-name>
  	<url-pattern>/loadcapchtaservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>vildatecapchtaservlet</servlet-name>
  	<url-pattern>/vildatecapchtaservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>registerservlet</servlet-name>
  	<url-pattern>/registerservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>addfriends</servlet-name>
  	<url-pattern>/addfriends</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>confirmfriends</servlet-name>
  	<url-pattern>/confirmfriends</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>friendslist</servlet-name>
  	<url-pattern>/friendslist</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>friendlist</servlet-name>
  	<url-pattern>/friendlist</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>acceptfriends</servlet-name>
  	<url-pattern>/acceptfriends</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>deletefriends</servlet-name>
  	<url-pattern>/deletefriends</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RealFriendsList</servlet-name>
  	<url-pattern>/RealFriendsList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>clock</servlet-name>
  	<url-pattern>/clock</url-pattern>
  </servlet-mapping>
</web-app>
